.wrapper {
  margin:25px auto;
  background-color: rgb(205, 201, 210);
  width:80%;
  z-index: 0;
  position:relative;
  border-radius:10px;
  box-shadow: 10px 5px 5px gray;
  text-align:center;
}

.button {
  height:50px;
  width:100px;
  background-color:rgb(205, 201, 210);
  margin:0 auto;
  text-align:center;
  border-radius:10px;
  box-shadow:10px 5px 5px gray;
  display:inline-block;
}

.button:hover {
  cursor:pointer;
  background-color:rgb(141, 206, 238);
}

.compareWrapper {
  text-align:center;
}

#dashContainer {
  margin:0 auto;
}

#dashInner{
  width:90%;
  margin:0 auto;
}

#imageContainer {
  width:80%;
  margin:0 auto;
  text-align:center;
}

#modal {
  background-color:rgba(185, 188, 245, 0.35);
  border-radius:10px;
  text-align:center;
  box-shadow: 10px 5px 5px gray;
}

.hide {
  display:none;
}

.show {
  display:block;
}

img {
  margin:0 auto;
  display:inline-block;
}
img:hover {
  background-color:rgba(166, 167, 172, 0.38);
  cursor:pointer;
}
