#container {
  margin:0 auto;
  background-color: rgb(205, 201, 210);
  width:80%;
  z-index: 0;
  position:relative;
}

#imageContainer {
  width:80%;
  margin:0 auto;
  z-index:10;
  position:relative;
}

#modal {
  z-index:1000;
  height:600px;
  width:600px;
  background-color:rgba(185, 188, 245, 0.35);
  border-radius:10px;
  position:relative
}

.hide {
  display:none;
}

.show {
  display:block;
}

img {
  z-index:500;
  position:relative
}
